.footer-copyright {
  flex: 1;

  p {
    font-family: Arial;
    font-size: 17px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5); 
    
    @media (max-width: 780px) {
      font-size: 15px;
      line-height: 21px;
    }

    @media (max-width: 480px) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}