@import "./app-footer/social";
@import "./app-footer/copyright";

.app-footer {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  
  .container {
    .container-i-text {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 780px) {
        
      }
      @media (max-width: 480px) {
        align-items: start;
        flex-direction: column;
      }
    }
  }
}