@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff'),
       url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
       url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff'),
       url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}