.container {
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;

  .container-i-text {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 55px;
  }

  .container-footer {
    
  }
}