.slide {
  width: 100%;
  margin-top: 100vh;
  padding-bottom: 100vh;
  border-bottom: 1px solid;
  border-top: 1px solid red;
  margin-top: -40vh;
  padding-top: 150vh;

  &.visited {
    .slide-background {
      z-index: -1;
      height: 100vh;
    }
  }

  .slide-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -2;
    opacity: 0;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  
  .slide-header {
    text-align: center;

    .slide-header--title {
      margin: 0;
      font-size: 50px;
      line-height: 52px;
      margin-bottom: 15px;
      font-family: "Helvetica Bold";
    }

    .slide-header--description {
      font-size: 19px;
      line-height: 30px;
    }
  }
  
  .container-i-text {
    p {
      font-size: 17px;
      line-height: 25px;
      margin-top: 25px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .container-footer {
    .container-i-text {
      background: rgba(66, 17, 23, 0.7);
    }
  }
  
  .b-footnote {
    margin-top: 55px;

    p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;
      line-height: 18px;
    }
  }

  &#intro,
  &#outro {
    .container-i-text {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  &#intro {
    margin-top: 40vh;
    padding-top: 0;
    .slide-header--title {
      font-size: 70px;
      line-height: 82px;
      margin-bottom: 30px;
    }
    .container {
      margin-top: 100vh;
    }
    .slide-background {
      opacity: 1;
    }
  }

  &#outro {
    .container-footer {
      .container-i-text {
        background: none;
        
        h3 {
          margin-bottom: 30px;
        }
        
        p {
          margin: 0;
        }
      }
    }
  }  

  &:not(#intro) {
    .slide-header {
      width: 700px;
      margin: 0 auto;

      .slide-header--title,
      .slide-header--description {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}