@import './slide/slide-header';
@import './slide/slide-background';
@import './slide/slide-figure';
@import './slide/slide-text';
@import './slide/slide-footer';
@import './slide/slide-animation-debugger';

.slide {
  width: 100%;
  margin-top: 100vh;
  padding-bottom: 120vh;
  margin-top: -145vh;
  padding-top: 115vh;

  &.visited {
    .slide-background {
      z-index: -1;
      height: 100vh;
    }
  }

  &#intro {
    margin-top: 40vh;
    padding-top: 0;
    padding-bottom: 100vh;
    .slide-header--title {
      font-size: 70px;
      line-height: 82px;
      margin-bottom: 30px;

      @media (max-width: 1360px) {
        font-size: 50px;
        line-height: 52px;
      }

      @media (max-width: 480px) {
        font-size: 35px;
        line-height: 40px;
      }      
    }
    .container {
      margin-top: 70vh;
    }
    .slide-background {
      opacity: 1;
      background-size: cover;
    }
  }

  &#outro {
    padding-bottom: 0;
    padding-top: 100vh;
    .container-footer {
      margin-top: 80px;
      .container-i-text {
        background: none;
        
        h3 {
          margin-bottom: 20px;
        }
        
        p {
          margin: 0;
        }
      }
    }
    
    .slide-background {
      background-size: cover;
    }
  }  
}