@import 'fonts';
@import 'readmore';
@import 'logo';
@import 'slide';
@import 'app-footer';
@import 'layout';

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 17px;
  line-height: 25px;
  background: black!important; // "!important" added to prevent showing whole grey background when using uBlock extension for Google Chrome
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #fff;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 17px;
  line-height: 25px;
}