.container-footer {
  //margin-top: 60px;

  @media(max-width: 780px) {
    //margin-top: 40px;
  }
  @media(max-width: 480px) {
    //margin-top: 30px;
  }
  .container-i-text {
    //background: rgba(66, 17, 23, 0.7);

    .b-footnote {
      margin-top: 60px;
    
      @media (max-width: 780px) {
        margin-top: 40px;
      }
      @media (max-width: 480px) {
        margin-top: 20px;
      }
      p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        line-height: 18px;
        font-size: 17px;
        line-height: 25px;
        
        @media (max-width: 780px) {
          font-size: 15px;
          line-height: 21px;
        }
    
        @media (max-width: 480px) {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}