.container-i-text {
  padding: 60px;
  width: 100%;
  box-sizing: border-box;
  
  @media (max-width: 780px) {
    padding: 40px;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }

  p, h3 {
    font-family: "robotoregular";
    font-size: 21px;
    line-height: 32px;

    @media (max-width: 780px) {
      font-size: 17px;
      line-height: 25px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;

    @media (max-width: 780px) {
      padding-top: 0;
    }

    @media (max-width: 480px) {
      padding-top: 0;
    }
    
    &:first-child {
      margin-top: 0;
    }
  }

}

#history04 {
  .container-footer {
    .container-i-text {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        background: rgba(255, 255, 255, 0.5);
        left: 60px;
        bottom: 0;
      }

      @media (max-width: 780px) {
        &:before {
          left: 40px;
          width: 30px!important;
        }
      }
    
      @media (max-width: 480px) {
        &:before {
          left: 20px;
        }
      }
    }
  }
}