figure {
  margin: 0;

  img {
    width: 100%;
    vertical-align: middle;
  }

  figcaption {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 15px;
    
    @media (max-width: 780px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 480px) {
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  figcaption {

    @media (max-width: 480px) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}